# Python
.venv/
__pycache__/

# Daten
responses.csv

# Node
node_modules/

# Mac
.DS_Store

# Streamlit Custom Component Build erlauben
!swipe_component/frontend/dist/
!swipe_component/frontend/dist/**